################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lottery.Web/.vs
/Lottery.Web/Lottery.Web/bin
/Lottery.Web/Lottery.Web/obj/Debug
/Lottery.Web/Lottery.Web.Tests/obj/Debug
/Lottery.Web/packages
/Lottery.Web/Lottery.Data/bin/Debug
/Lottery.Web/Lottery.Data/obj/Debug
/Lottery.Web/Lottery.Data.Model/bin/Debug
/Lottery.Web/Lottery.Data.Model/obj/Debug
/Lottery.Web/Lottery.Mapper/bin/Debug
/Lottery.Web/Lottery.Mapper/obj/Debug
/Lottery.Web/Lottery.Service/bin/Debug
/Lottery.Web/Lottery.Service/obj/Debug
/Lottery.Web/Lottery.View.Model/bin/Debug
/Lottery.Web/Lottery.View.Model/obj/Debug
/Lottery.Web/Lottery.Web.Tests/bin/Debug
/Lottery.Web/Lottery.Data/obj/Release
/Lottery.Web/Lottery.Data.Model/obj/Release
/Lottery.Web/Lottery.Mapper/obj/Release
/Lottery.Web/Lottery.Service/obj/Release
/Lottery.Web/Lottery.View.Model/obj/Release
/Lottery.Web/Lottery.Data/bin/Release
/Lottery.Web/Lottery.Data.Model/bin/Release
/Lottery.Web/Lottery.Mapper/bin/Release
/Lottery.Web/Lottery.Service/bin/Release
/Lottery.Web/Lottery.View.Model/bin/Release
/Lottery.Web/Lottery.Web/obj/Release
/Lottery.Web/Lottery.Web/Properties/PublishProfiles
/Lottery.Web/Lottery.Web.Tests/obj/Release
/Lottery-UI/.vscode
/Lottery.RaffleConsole/.vs/Lottery.RaffleConsole
/Lottery.RaffleConsole/Lottery.Data/bin/Debug/netstandard2.0
/Lottery.RaffleConsole/Lottery.Data/obj
/Lottery.RaffleConsole/Lottery.Data.Model/bin/Debug/netstandard2.0
/Lottery.RaffleConsole/Lottery.Data.Model/obj
/Lottery.RaffleConsole/Lottery.RaffleConsole/bin/Debug/netcoreapp2.1
/Lottery.RaffleConsole/Lottery.RaffleConsole/obj
/Lottery.RaffleConsole/Lottery.Service/bin/Debug/netstandard2.0
/Lottery.RaffleConsole/Lottery.Service/obj
/Lottery.RaffleConsole/Lottery.Data/bin/Release/netstandard2.0
/Lottery.RaffleConsole/Lottery.Data.Model/bin/Release/netstandard2.0
/Lottery.RaffleConsole/Lottery.RaffleConsole/bin/Release/netcoreapp2.1/win10-x64
/Lottery.RaffleConsole/Lottery.Service/bin/Release/netstandard2.0
/Lottery.RaffleConsole/Lottery.RaffleConsole/bin/Release/netcoreapp2.1
/Lottery.RaffleConsole/Lottery.RaffleConsole/publish
/Lottery.RaffleConsole/Lottery.Scheduler/bin
/Lottery.RaffleConsole/Lottery.Scheduler/obj
