################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lottery.Web/.vs
/Lottery.Web/Lottery.Web/bin
/Lottery.Web/Lottery.Web/obj/Debug
/Lottery.Web/Lottery.Web.Tests/obj/Debug
/Lottery.Web/packages
